
.dataTables_wrapper{
    padding-top: 10px !important;
}

.dataTables_filter{
    display: none !important;
}
.dataTables_info{
    display: none;
}
.dataTables_length{
    padding-top: -60px !important;
}
.dt-buttons{
    display: none !important;
}

#example_length{
    display: none;
}


.page-link{
    margin-right: 0.5px;
}

.list-page-drop-downs{
    color: #fff!important;
    font-weight: bold !important;
    background: #117dc0 !important;

}

.list-page-drop-downs:hover {
    color: #fff!important;
    font-weight: bolder !important;
    background: #0f6fab !important;
}
.bold_font{
    font-weight: bold !important;
}
.list-page-drop-downs:active {
    background: #117dc0 !important;
    font-weight: bold !important;
}

.list-page-drop-downs-export{
    color: #fff!important;
    font-weight: bold !important;
    background: #22c55f !important;

}

.list-page-drop-downs-export:hover {
    color: #fff!important;
    font-weight: bold !important;
    background: #1ca24e !important;
}
.list-page-drop-downs-export:active {
    background: #22c55f !important;
    font-weight: bold !important;
}
.dropdown-menu-custom-css img{
    max-height: 30px !important;
    height: auto !important;
    transition: all 0.3s ease; /* Add smooth transition for the image */

}


.export_header{
    background: #f8a526;
    color: white;
    padding: 10px 15px;
    text-align: left;
    font-weight: bold;
}

/* Style the dropdown items */
.dropdown-menu-custom-css {
    top: 6px !important;
    background: whitesmoke !important;
    padding: 0 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px !important;
}
/* Style each dropdown item */
.dropdown-menu-item-custom-css {
    font-weight: bold !important;
    vertical-align: center !important;
    padding: 10px 18px !important;
    display: flex !important;
    align-items: center !important;
    transition: all 0.3s ease; /* Add smooth transition */

}


.dropdown-menu-item-custom-css:hover {
    background-color: white !important; /* Change to the desired hover background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important; /* Add box shadow on hover */
    font-size: 18px; /* Adjust font size on hover */
}


.dropdown-menu-item-custom-css:hover img {
    max-height: 33px !important; /* Adjust the max height of the image on hover */
    width: auto !important;
}

.profile-menu-custom-css {
    top: 44px !important;
    background: whitesmoke !important;
    padding: 0 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px !important;
}
.profile-menu-item-custom-css{
    vertical-align: center;
    padding: 10px 18px;
    align-items: center;
    transition: all 0.3s ease; /* Add smooth transition */
}
.profile-menu-item-custom-css:hover{
    background-color: white !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

/* Apply border-radius for the first column's left top */
.custom_table_header th:first-child {
    border-top-left-radius: 7px !important;
}

/* Apply border-radius for the last column's right top */
.custom_table_header th:last-child {
    border-top-right-radius: 7px !important;
}

/* Apply common styles for all header cells */
.custom_table_header th {
    color: white !important;
    background-color: #117dc0 !important;
}

/* Add any other styles you need for the table */
#example {
    background: white !important;
    border: white !important;
}