<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>card details</title>
<head th:replace="~{fragments/head :: header}"></head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/left-sidebar :: left-sidebar}"></div>
    <div class="dashboard-main-wrapper pt-3">
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <div class="ecommerce-widget pt-4">

                        <nav style="--bs-breadcrumb-divider: " aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li th:if="${from == 'ticket'}" class="breadcrumb-item custom-breadcrumb-item"><a th:href="@{/ticket/list}"><i class="fa-solid fa-house"></i> Tickets </a></li>
                                <li th:unless="${from == 'ticket'}"class="breadcrumb-item custom-breadcrumb-item"><a th:href="@{/card/list}"><i class="fa-solid fa-house"></i> Cards </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><i class="fa-solid fa-chevron-right" style="font-size: 12px"></i> Card details</li>
                            </ol>
                        </nav>

                        <header class="panel-heading text-center"></header>

                        <div class="row justify-content-center align-items-center pt-4">

                            <div class="col-12 col-md-12 col-lg-8">

                                <div class="row g-3">
                                    <div class="col-12 col-md-6 col-lg-6">

                                        <div class="btn-group">
                                            <a href="#" class="btn btn-danger delete-row" id="delete-row"
                                               th:classappend="${from == 'ticket' ? 'disabled' : ''}"
                                               th:data-card="${card.cardOwner + ' (' + card.bankName + ')'}"
                                               th:data-cardId="${card.id}"
                                               th:data-from="${from}">
                                                <i class="fa-solid fa-trash-can"></i> Delete
                                            </a>

                                            <a th:href="@{/card/update/{cardId}(cardId=${card.id}, from = ${from})}" class="btn btn-warning">
                                                <i class="fa-solid fa-pen-to-square"></i> Update
                                            </a>
                                            <a th:href="@{/card/create}" class="btn btn-success">
                                                <i class="fa-solid fa-plus"></i> Add
                                            </a>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-end">
                                        <a id="staffListLink" class="btn text-light list-page-drop-downs pr-3 pl-3 mb-2"
                                           th:href="@{/card/list}"><i class="fa fa-list mr-1"></i>Card List</a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header text-center text-white bold_font"
                                         style="font-size: x-large;background: #117dc0 !important;">Card Details
                                    </div>
                                    <div class="card-body pt-5 pb-5">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-12 col-md-12 col-lg-10">

                                                <form th:object="${card}" class="row g-3">

                                                    <div class="row">
                                                        <div class="col-md-6 pt-2 pb-1 pl-3">Card Owner: </div>
                                                        <div class="col-md-6 pt-1 pb-2">
                                                            <input type="text" th:field="*{cardOwner}"  class="form-control customer-details-input" id="customerType" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 pt-2 pb-1 pl-3">Bank Name: </div>
                                                        <div class="col-md-6 pt-1 pb-2">
                                                            <input type="text" th:field="*{bankName}" class="form-control customer-details-input" id="firstName" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 pt-2 pb-1 pl-3">Balance ₺: </div>
                                                        <div class="col-md-6 pt-1 pb-2">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control customer-details-input"
                                                                       th:field="*{availableLimitTRYUI}" id="customerTRYBalance" readonly>
                                                                <span class="input-group-text" id="currencyTRYSymbol">₺</span>
                                                                <span class="input-group-text">0.00</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 pt-2 pb-1 pl-3">Balance $: </div>
                                                        <div class="col-md-6 pt-1 pb-2">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control customer-details-input" th:field="*{availableLimitUSDUI}" id="customerUSDBalance"
                                                                        readonly>
                                                                <span class="input-group-text" id="currencyUSDSymbol">$</span>
                                                                <span class="input-group-text">0.00</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 pt-2 pb-1 pl-3">Balance €: </div>
                                                        <div class="col-md-6 pt-1 pb-2">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control customer-details-input" th:field="*{availableLimitEURUI}" id="customerEURBalance"
                                                                        readonly>
                                                                <span class="input-group-text" id="currencyEURSymbol">€</span>
                                                                <span class="input-group-text">0.00</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 pt-2 pb-1 pl-3">Due Date </div>
                                                        <div class="col-md-6 pt-1 pb-2">
                                                            <input type="text" th:field="*{dueDate}" class="form-control customer-details-input" id="due-date" readonly>
                                                        </div>
                                                    </div>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
                                 aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content p-2">
                                        <div class=" delete_confirmation_popup justify-content-center">

                                            <div class="d-flex flex-column align-items-center">
                                                <img th:src="@{/images/delete_worning.png}" class="mt-4"/>
                                                <h5 class="modal-title mt-3 pb-2"
                                                    id="confirmationModalLabel">Confirm Deletion</h5>
                                            </div>
                                            <!-- No close button here -->
                                        </div>
                                        <div class="modal-body">
                                            <!-- Dynamic content to display username -->
                                            <p id="confirmationCardName"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    onclick="closeConfirmationModal()">Cancel
                                            </button>

                                            <button type="button" class="btn btn-danger" id="confirmDelete">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/javascript :: js}"></div>
<script th:src="@{/assets/libs/js/card/delete_modal_confirmation.js}"></script>
</body>
</html>