<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>user create</title>
<head th:replace="~{fragments/head :: header}"></head>

<body>
<div class="wrapper">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/left-sidebar :: left-sidebar}"></div>
    <div class="dashboard-main-wrapper pt-3">
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <div class="ecommerce-widget pt-4">

                        <nav style="--bs-breadcrumb-divider: " aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item custom-breadcrumb-item"><a th:href="@{/user/list}"><i class="fa-solid fa-house"></i> Users </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><i class="fa-solid fa-chevron-right" style="font-size: 12px"></i> User create</li>
                            </ol>
                        </nav>

                        <header class="panel-heading text-center"></header>

                        <div class="row justify-content-center align-items-center pt-4">

                            <div class="col-12 col-md-12 col-lg-8">
                                <div class="input-group justify-content-end">
                                    <div class="col-auto pr-0">
                                        <div class="col-12 col-sm-6 col-lg-3 pr-1 d-flex align-items-right">
                                            <a id="staffListLink" class="btn text-light list-page-drop-downs pr-4 pl-4 mb-2"
                                               th:href="@{/user/list}"><i class="fa fa-list mr-1"></i>User List</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header text-center text-white bold_font"
                                         style="font-size: x-large;background: #117dc0 !important;">Create New User
                                    </div>
                                    <div class="card-body pt-5 pb-5">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-12 col-md-12 col-lg-10">

                                                <form th:object="${newUser}" th:action="@{/user/create}" method="post" class="row g-3">


                                                    <div class="col-md-6" th:classappend="${#fields.hasErrors('firstName')} ? 'error' : ''">
                                                        <div class="form-group p-0 m-0">
                                                            <label for="inputFirstName" class="form-label">First Name</label>
                                                            <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName">
                                                            <div class="custom-invalid-feedback" th:if="${#fields.hasErrors('firstName')}">
                                                                <ul class="p-0 m-0">
                                                                    <li th:each="err : ${#fields.errors('firstName')}"
                                                                        th:text="${err}"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6" th:classappend="${#fields.hasErrors('lastName')} ? 'error' : ''">
                                                        <div class="form-group p-0 m-0">
                                                            <label for="inputFirstName" class="form-label">Last Name</label>
                                                            <input type="text" th:field="*{lastName}" class="form-control" id="inputLastName">
                                                            <div class="custom-invalid-feedback" th:if="${#fields.hasErrors('lastName')}">
                                                                <ul class="p-0 m-0">
                                                                    <li th:each="err : ${#fields.errors('lastName')}"
                                                                        th:text="${err}"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6" th:classappend="${#fields.hasErrors('userName')} ? 'error' : ''">
                                                        <div class="form-group p-0 m-0">
                                                            <label for="inputEmail" class="form-label">Email</label>
                                                            <input type="email" th:field="*{userName}" class="form-control" id="inputEmail"
                                                                    spellcheck="false" placeholder="ex: example@sever.com">

                                                            <div class="custom-invalid-feedback" th:if="${#fields.hasErrors('userName')}">
                                                                <ul class="p-0 m-0">
                                                                    <li th:each="err : ${#fields.errors('userName')}"
                                                                        th:text="${err}"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6" th:classappend="${#fields.hasErrors('phone')} ? 'error' : ''">
                                                        <div class="form-group p-0 m-0">
                                                            <label for="inputPhone" class="form-label">Phone</label>
                                                            <input type="number" th:field="*{phone}"class="form-control"
                                                                   placeholder="ex: 05552223344" id="inputPhone">
                                                            <div class="custom-invalid-feedback" th:if="${#fields.hasErrors('phone')}">
                                                                <ul class="p-0 m-0">
                                                                    <li th:each="err : ${#fields.errors('phone')}"
                                                                        th:text="${err}"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="inputRole" class="form-label">Choose Role</label>
                                                        <select id="inputRole" name="role" class="form-select">
<!--                                                            <option selected>Choose a Role</option>-->
                                                            <option th:each="role:${roles}" th:value="${role}" th:text="${role.description}"></option>
<!--                                                            <option>Admin</option>-->
<!--                                                            <option>Manager</option>-->
<!--                                                            <option>Employee</option>-->
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="inputGender" class="form-label">Choose
                                                            Gender</label>
                                                        <select id="inputGender" name="gender" class="form-select">
<!--                                                            <option selected>Select Gender</option>-->
                                                            <option th:each="gender:${genders}" th:value="${gender}" th:text="${gender.value}"></option>
<!--                                                            <option>Male</option>-->
<!--                                                            <option>FeMale</option>-->
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="inputUserStatus" class="form-label">UserStatus</label>
                                                        <select id="inputUserStatus" th:field="*{enabled}" name="userStatus" class="form-select">
                                                            <option th:each="status:${userStatuses}" th:value="${status.value}"
                                                                    th:text="${status.description}"></option>

<!--                                                            <option selected>Disabled</option>-->
<!--                                                            <option>Enabled</option>-->
                                                        </select>
                                                    </div>

                                                    <div class="col-md-6" th:classappend="${#fields.hasErrors('passWord')} ? 'error' : ''">
                                                        <div class="form-group p-0 m-0">

                                                            <label for="password" class="form-label">Password</label>
                                                            <input type="password" th:field="*{passWord}" id="password"
                                                                   class="form-control" name="password" style="padding-right: 45px">

                                                            <div class="user-create-password-toggle text-right"
                                                                 th:classappend="${#fields.hasErrors('passWord')} ? 'password-toggle-up' : ''">
                                                                <i id="password-toggle-icon" class="far fa-eye-slash"></i>
                                                            </div>

                                                            <div class="custom-invalid-feedback" th:if="${#fields.hasErrors('passWord')}">
                                                                <ul class="p-0 m-0">
                                                                    <li th:each="err : ${#fields.errors('passWord')}"
                                                                        th:text="${err}"></li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-check form-switch">
                                                            <input th:field="*{useDefaultPassword}" class="form-check-input" type="checkbox"
                                                                   id="useDefaultPassword">
                                                            <label class="form-check-label" for="useDefaultPassword">Use
                                                                Default Password(Etlas1234!)</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-6">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" th:field="*{verifyUser}" type="checkbox"
                                                                   id="verifyUserEmail">
                                                            <label class="form-check-label" for="verifyUserEmail">Verify
                                                                User By Email</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-6 text-right">
                                                        <button type="submit" class="btn list-page-drop-downs-export pr-5 pl-5">Create
                                                        </button>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/javascript :: js}"></div>
<script th:src="@{/assets/libs/js/use_default_password.js}"></script>
<link rel="stylesheet" th:href="@{/assets/libs/css/for-phone-input.css}"/>
</body>
</html>