<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: header}"></head>
<body class="bg-light">
<div class="wrapper">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/left-sidebar :: left-sidebar}"></div>
    <div class="dashboard-main-wrapper pt-3">
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <div class="ecommerce-widget pt-4">
                        <header class="panel-heading text-center pt-5">
                            <h4 class="panel-title">Users</h4>
                        </header>
                        <div class="row">
                            <div class="col-12">
                                <div class="card border-0 shadow-none bg-light justify-content-center align-items-center">
                                    <div class="col-12 col-md-12 col-lg-10">

                                        <div class="row bg-white pt-2" style="border-radius: 5px">
                                            <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0 mb-sm-2">
                                                <div class="col-12 dropdown m-0 p-0">
                                                    <button class="btn btn-info dropdown-toggle" type="button"
                                                            id="more_actions" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        More Actions
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="more_actions">
                                                        <a class="dropdown-item" id="copy">Copy</a>
                                                        <a class="dropdown-item" id="print">Print</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0 mb-sm-2">
                                                <input type="search" class="form-control mb-2 mb-md-0 mb-sm-2"
                                                       id="myInput" placeholder="search...">
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-4 text-right">
                                                <div class="col-12 dropdown" style="display: inline;">
                                                    <button class="btn btn-info dropdown-toggle" type="button"
                                                            id="export_buttons" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        Export
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                         aria-labelledby="export_buttons">
                                                        <a class="dropdown-item" id="export_pdf">To PDF</a>
                                                        <a class="dropdown-item" id="export_Excel">To Excel</a>
                                                        <a class="dropdown-item" id="export_CVS">To CSV</a>
                                                    </div>
                                                </div>
                                                <button class="btn btn-info" id="userCreate">New User</button>
                                            </div>
                                        </div>


                                        <table id="example" class="table table-hover table-bordered bg-white">
                                            <thead id="custom_table_header">
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                            <tr>
                                                <td>Garrett Winters</td>
                                                <td>Accountant</td>
                                                <td>Tokyo</td>
                                                <td>63</td>
                                                <td>2011/07/25</td>
                                                <td>$170,750</td>
                                            </tr>
                                            <tr>
                                                <td>Jennifer Acosta</td>
                                                <td>Junior Javascript Developer</td>
                                                <td>Edinburgh</td>
                                                <td>43</td>
                                                <td>2013/02/01</td>
                                                <td>$75,650</td>
                                            </tr>
                                            <tr>
                                                <td>Cara Stevens</td>
                                                <td>Sales Assistant</td>
                                                <td>New York</td>
                                                <td>46</td>
                                                <td>2011/12/06</td>
                                                <td>$145,600</td>
                                            </tr>
                                            <tr>
                                                <td>Hermione Butler</td>
                                                <td>Regional Director</td>
                                                <td>London</td>
                                                <td>47</td>
                                                <td>2011/03/21</td>
                                                <td>$356,250</td>
                                            </tr>
                                            <tr>
                                                <td>Lael Greer</td>
                                                <td>Systems Administrator</td>
                                                <td>London</td>
                                                <td>21</td>
                                                <td>2009/02/27</td>
                                                <td>$103,500</td>
                                            </tr>
                                            <tr>
                                                <td>Jonas Alexander</td>
                                                <td>Developer</td>
                                                <td>San Francisco</td>
                                                <td>30</td>
                                                <td>2010/07/14</td>
                                                <td>$86,500</td>
                                            </tr>
                                            <tr>
                                                <td>Shad Decker</td>
                                                <td>Regional Director</td>
                                                <td>Edinburgh</td>
                                                <td>51</td>
                                                <td>2008/11/13</td>
                                                <td>$183,000</td>
                                            </tr>
                                            <tr>
                                                <td>Michael Bruce</td>
                                                <td>Javascript Developer</td>
                                                <td>Singapore</td>
                                                <td>29</td>
                                                <td>2011/06/27</td>
                                                <td>$183,000</td>
                                            </tr>
                                            <tr>
                                                <td>Donna Snider</td>
                                                <td>Customer Support</td>
                                                <td>New York</td>
                                                <td>27</td>
                                                <td>2011/01/25</td>
                                                <td>$112,000</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/javascript :: js}"></div>
</body>
</html>