<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: header}"></head>
<body class="bg-light">
<div class="wrapper">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/left-sidebar :: left-sidebar}"></div>
    <div class="dashboard-main-wrapper pt-3">
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <div class="ecommerce-widget pt-4">
                        <header class="panel-heading text-center pt-5">
                            <h4 class="panel-title bold_font">Users</h4>
                        </header>
                        <div class="row">
                            <div class="col-12">
                                <div class="card border-0 shadow-none bg-light justify-content-center align-items-center">
                                    <div class="col-12 col-md-12 col-lg-10">

                                        <div class="row bg-white mr-0 ml-0 table_top_search_bar_column" style="border-radius: 5px">
                                            <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0 mb-sm-2 pl-1">
                                                <div class="col-12 dropdown pl-0">
                                                    <button class="btn list-page-drop-downs dropdown-toggle" type="button"
                                                            id="more_actions" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa-solid fa-list"></i> More Actions
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-custom-css" aria-labelledby="more_actions">
                                                        <a class="dropdown-item dropdown-menu-item-custom-css" id="more_actions_copy" style="display: flex; align-items: center;">
                                                            <span>Copy</span>
                                                            <span style="margin-left: auto;"><img th:src="@{/images/copy.png}"></span>
                                                        </a>

                                                        <a class="dropdown-item dropdown-menu-item-custom-css" id="more_actions_print"
                                                           style="display: flex; align-items: center;border-radius: 0 0 8px 8px">
                                                            <span>Print</span>
                                                            <span style="margin-left: auto;"><img th:src="@{/images/print.png}"></span>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0 mb-sm-2">
                                                <input type="search" class="form-control mb-2 mb-md-0 mb-sm-2"
                                                       id="myInput" placeholder="Search...">

                                            </div>

                                            <div class="col-12 col-md-12 col-lg-4 text-right pr-1">

                                                <a th:href="@{/user/create}">
                                                    <button class="btn list-page-drop-downs mr-0" id="userCreate">
                                                        <i class="fa-solid fa-user-plus"></i> New User
                                                    </button>
                                                </a>
                                                <div class="col-12 dropdown pr-1 pl-1" style="display: inline;">
                                                    <button class="btn list-page-drop-downs-export dropdown-toggle" type="button"
                                                            id="export_buttons" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa-solid fa-file-export"></i> Export
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-custom-css"
                                                         aria-labelledby="export_buttons">
                                                        <div class="export_header" style="cursor: pointer"><span class="pr-4">Export As</span>  <i class="fa-solid fa-download"></i></div>
                                                        <a class="dropdown-item dropdown-menu-item-custom-css" id="export_pdf" style="display: flex; align-items: center;">
                                                            <span>PDF</span>
                                                            <span style="margin-left: auto;"><img th:src="@{/images/pdf.png}"></span>
                                                        </a>
                                                        <a class="dropdown-item dropdown-menu-item-custom-css" id="export_excel" style="display: flex; align-items: center;">
                                                            <span>Excel</span>
                                                            <span style="margin-left: auto;"><img th:src="@{/images/excel.png}"></span>
                                                        </a>

                                                        <a class="dropdown-item dropdown-menu-item-custom-css" id="export_csv"
                                                           style="display: flex; align-items: center;border-radius: 0 0 8px 8px">
                                                            <span>CSV</span>
                                                            <span style="margin-left: auto;"><img th:src="@{/images/csv.png}"></span>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    <div class="table-responsive">
                                        <table id="example" class="table table-hover table-bordered bg-white users_table">
                                            <thead class="custom_table_header">
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email(username)</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr th:each="user :${userList}">
                                                <td th:text="${user.firstName}+ ' ' + ${user.lastName} "></td>
                                                <td th:text="${user.userName}"></td>
                                                <td th:text="${user.gender}"></td>
                                                <td th:text="${user.phone}"></td>
                                                <td th:text="${user.role.description}"></td>
                                                <td class="actions">
                                                    <a th:href="@{/user/update/{userName}(userName = ${user.userName})}">
                                                        <button type="button" class="btn custom_update_button p-1">
                                                            <i class="fa-solid fa-pen-to-square update-rotate-on-hover"></i>
                                                        </button>
                                                    </a>
                                                    <a href="#" class="delete-row">
                                                        <button type="button" id="delete-row" class="btn custom_delete_button p-1 delete-row"
                                                                th:data-user="${user.firstName} + ' ' + ${user.lastName}" th:data-username="${user.userName}">
                                                            <i class="fa-solid fa-trash-can rotate-on-hover"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>


                                        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content p-2">
                                                    <div class=" delete_confirmation_popup justify-content-center">

                                                        <div class="d-flex flex-column align-items-center">
                                                            <img th:src="@{/images/delete_worning.png}" class="mt-4" />
                                                            <h5 class="modal-title mt-3 pb-2" id="confirmationModalLabel">Confirm Deletion</h5>
                                                        </div>
                                                        <!-- No close button here -->
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Dynamic content to display username -->
                                                        <p id="confirmationUsername"></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" onclick="closeConfirmationModal()">Cancel</button>

                                                        <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="delete_toast_up_layer" th:if="${userIsDeleted} == true">
                                            <div id="delete_toast_container" class="position-fixed top-0 start-50 translate-middle-x mt-3" data-bs-autohide="true" data-bs-delay="300">
                                                <div id="deleteSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header delete_toast_header">
                                                        <strong class="me-auto">Success</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                                    </div>
                                                    <div class="toast-body delete_toast_body" th:text="'User ' + ${deletedUser.firstName} + ' ' + ${deletedUser.lastName} + ' successfully deleted!'"></div>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="create_toast_up_layer" th:if="${userIsCreated} == true">
                                            <div id="create_toast_container" class="position-fixed top-0 start-50 translate-middle-x mt-3" data-bs-autohide="true">
                                                <div id="createSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header create_toast_header">
                                                        <strong class="me-auto">Success</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                                    </div>
                                                    <div class="toast-body create_toast_body" th:text="'User ' + ${createdUser.firstName} + ' ' + ${createdUser.lastName} + ' successfully created!'"></div>

                                                </div>
                                            </div>
                                        </div>


                                        <div id="update_toast_up_layer" th:if="${userIsCreated} == true">
                                            <div id="update_toast_container" class="position-fixed top-0 start-50 translate-middle-x mt-3" data-bs-autohide="true">
                                                <div id="updateSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header ">
                                                        <strong class="me-auto">Success</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                                    </div>
                                                    <div class="toast-body update_toast_body" th:text="'User ' + ${createdUser.firstName} + ' ' + ${createdUser.lastName} + ' successfully updated!'"></div>

                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/javascript :: js}"></div>
<!-- Add this in the head of your HTML file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

<script th:src="@{/assets/libs/js/delet_update_confirmation.js}"></script>
</body>
</html>