<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<div th:fragment="header">
    <div class="dashboard-header">

        <nav class="navbar navbar-expand mr-3 border-bottom fixed-top">
            <div id="sidebar2"></div>
            <button class="btn" id="sidebar-toggle" style="font-size: 25px;" type="button">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="navbar-collapse navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown justify-content-center text-center">
                        <a href="#" data-toggle="dropdown" class="nav-icon pe-md-0 mr-3 text-center avatar-a-tag" title="User">
                            <div class="justify-content-center text-center">
                                <p th:class="${#authentication.principal.getRole == 'Admin'} ? 'avatar-bg-color-admin avatar-text' : (${#authentication.principal.getRole == 'Manager'} ? 'avatar-bg-color-manager avatar-text' : 'avatar-bg-color-employee avatar-text')"
                                   th:text="${#authentication.principal.getNameLetter}">A</p>

                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right profile-menu-custom-css">
                            <h5 class="mb-0 nav-user-info" th:text="${#authentication.principal.firstName}">Name</h5>
                            <a href="#" class="dropdown-item profile-menu-item-custom-css"><i class="fas fa-user mr-2"></i>Profile</a>
                            <a href="#" class="dropdown-item profile-menu-item-custom-css"><i class="fas fa-gear mr-2"></i>Setting</a>
                            <a th:href="@{/logout}" class="dropdown-item profile-menu-item-custom-css" style="border-radius: 0 0 8px 8px"><i class="fa-solid fa-right-from-bracket mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>


    </div>
</div>
</body>

</html>