<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<div th:fragment="left-sidebar">
            <aside id="sidebar" class="js-sidebar fixed-top vh-100">
                <!-- Content For Sidebar -->
                <div class="h-100">
                    <div class="sidebar-logo">
                        <a href="#">
                            <img th:src="@{/images/logo white.png}" class="avatar img-fluid rounded mr-3" alt="">
                        </a>
                        <hr style="background: white;height: 1px; opacity: 1">
                    </div>
                    <ul class="sidebar-nav text-left">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-target="#tickets" data-toggle="collapse"
                               aria-expanded="false"><i class="fa-solid fa-plane"></i> Tickets
                            </a>
                            <ul id="tickets" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a th:href="@{/ticket/create}" class="sidebar-link">New Ticket</a>
                                </li>
                                <li class="sidebar-item">
                                    <a th:href="@{/ticket/list}" class="sidebar-link sub-item">Ticket List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-target="#customers" data-toggle="collapse"
                               aria-expanded="false"><i class="fa-solid fa-address-card"></i> Customers
                            </a>
                            <ul id="customers" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a th:href="@{/customer/create}" class="sidebar-link">New Customer</a>
                                </li>
                                <li class="sidebar-item">
                                    <a th:href="@{/customer/list}" class="sidebar-link sub-item">Customer List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-target="#visa" data-toggle="collapse"
                               aria-expanded="false"><i class="fa-brands fa-cc-visa"></i>
                                Visa
                            </a>
                            <ul id="visa" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Visa 1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Visa 2</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Visa 3</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-target="#Transactions" data-toggle="collapse"
                               aria-expanded="false"><i class="fa-solid fa-money-check-dollar"></i>
                                Transactions
                            </a>
                            <ul id="Transactions" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Transactions 1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Transactions 2</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Transactions 3</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-target="#cards" data-toggle="collapse"
                               aria-expanded="false"><i class="fa-solid fa-credit-card pe-2"></i>
                                Cards
                            </a>
                            <ul id="cards" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a th:href="@{/card/create}" class="sidebar-link">New Card</a>
                                </li>
                                <li class="sidebar-item">
                                    <a th:href="@{/card/list}" class="sidebar-link">Card List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-target="#users" data-toggle="collapse"
                               aria-expanded="false"><i class="fa-solid fa-user-group pe-2"></i>
                                Users
                            </a>
                            <ul id="users" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a th:href="@{/user/create}" class="sidebar-link">New User</a>
                                </li>
                                <li class="sidebar-item">
                                    <a th:href="@{/user/list}" class="sidebar-link">User List</a>
                                </li>
                            </ul>
                        </li>


<!--                        <li class="sidebar-item pb-3">-->
<!--                            <a href="#" class="sidebar-link collapsed" data-bs-target="#multi" data-bs-toggle="collapse"-->
<!--                               aria-expanded="false"><i class="fa-solid fa-share-nodes pe-2"></i>-->
<!--                                Multi Dropdown-->
<!--                            </a>-->
<!--                            <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">-->
<!--                                <li class="sidebar-item">-->
<!--                                    <a href="#" class="sidebar-link collapsed" data-bs-target="#level-1"-->
<!--                                       data-bs-toggle="collapse" aria-expanded="false">Level 1</a>-->
<!--                                    <ul id="level-1" class="sidebar-dropdown list-unstyled collapse">-->
<!--                                        <li class="sidebar-item">-->
<!--                                            <a href="#" class="sidebar-link">Level 1.1</a>-->
<!--                                        </li>-->
<!--                                        <li class="sidebar-item">-->
<!--                                            <a href="#" class="sidebar-link">Level 1.2</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->





                    </ul>

                    <nav class="navbar navbar-dark nav-bar-bottom">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-bs-toggle="tooltip" title="Contact Us">
                                    <i class="fa-regular fa-envelope"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-bs-toggle="tooltip" title="Flow Us">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-bs-toggle="tooltip" title="More Info">
                                    <i class="fa-regular fa-circle-question"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" id="sidebar-toggle1" data-bs-toggle="tooltip" title="Toggle Sidebar">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </aside>
            <aside id="sidebar1" class="js-sidebar"></aside>
        </div>
</body>

</html>