<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN : Head-->

<head>
    <title>pdf ticker</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/etlas_black_title.svg}">
    <link rel="stylesheet" th:href="@{/assets/libs/css/pdf_ticket.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/new_fontawesome_all.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/new_fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/new_regular.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/new_solid.min.css}"/>
</head>
<body>
<div class="card shadow-none exclude-from-print">
    <div class="card-body p-0 pt-1 pb-1">
        <div class="row p-0 m-0 justify-content-center">
            <a href="#" type="button" class="btn btn-primary mr-2"><i
                    class="fa fa-paper-plane mr-1"></i>Send Via Email</a>
            <a href="#" type="button" class="btn btn-success mr-2"><i
                    class="fa-regular fa-file-pdf"></i> Save As PDF</a>
        </div>
    </div>
</div>
<div class="card shadow-none">
    <div class="card-body">
        <div id="ticket">
            <div class="ticket overflow-auto mr-4 ml-4 mt-3 mb-2">
                <div style="min-width: 600px">
                    <div class="header">
                        <div class="row">
                            <div class="sidebar-logo">
                                <a href="#">
                                    <img th:src="@{/images/etlas_black.svg}" width="120px" height="auto"
                                         class="company-logo" alt="etlas">
                                </a>
                            </div>
                            <div class="col company-details">
                                <h2 class="name">YOLCULUK BELGESİ</h2>
                                <div class="editable-div-container">
                                    <span class="align-content-center">Sipariş numarası: </span>
                                    <div class="editable-div" contenteditable="true" th:text="1003-701-794"></div>
                                </div>
                                <div class="editable-div-container">
                                    <span class="align-content-center">Verildi: </span>
                                    <div class="editable-div" contenteditable="true" th:text="2024-03-18"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="height:4px; margin: 10px 0; background-color: #aaaaaa">
                    <div class="row align-content-center p-0 m-0">
                        <img th:src="@{/images/plane.svg}" width="40px" height="auto" class="pl-2" alt="etlas">
                        <span class="name" style="font-size: 22px; margin-left: 15px;"
                              th:text="${ticket.fromWhere.getCity() + '-' + ticket.toWhere.getCity()}"></span>
                    </div>
                    <hr style="height:2px; margin: 10px 0; background-color: #aaaaaa">

                    <div class="row p-0 m-0">
                        <div class="col-6 pl-1">
                            <span class="name align-content-center" style="font-size: 20px;">1</span>
                            <span class="align-content-center" style="font-size: 16px; margin-left: 7px;">Havayolu şirketi check-in referanslarınız</span>
                        </div>
                        <div class="col-6">
                            <span class="align-content-center" style="font-size: 22px;"
                                  contenteditable="true">MEPUGY(EY)</span>
                        </div>
                    </div>
                    <hr style="height:2px; margin: 10px 0; background-color: #aaaaaa">

                    <div class="row p-0 m-0">
                        <div class="col-6 pl-1">
                            <span class="name align-content-center" style="font-size: 20px;">2</span>
                            <span class="align-content-center" style="font-size: 16px; margin-left: 7px;">Rezervasyon numaranız</span>
                        </div>
                        <div class="col-6">
                            <span class="align-content-center" style="font-size: 22px;"
                                  contenteditable="true">MEPUGY</span>
                        </div>
                    </div>
                    <hr style="height:4px; margin: 10px 0; background-color: #aaaaaa">

                    <div class="row p-0 m-0">
                        <div class="col-12 pl-1 text-center">
                            <span class="name align-content-center" style="font-size: 20px;">ÖNEMLİ:</span>
                            <span class="align-content-center" style="font-size: 16px; margin-left: 3px;">LÜTFEN BU SEYAHAT BELGENİZİ YAZDIRIN VE GEÇERLİ PASAPORTUNUZLA BİRLİKTE TAŞIYIN.</span>
                        </div>
                    </div>
                    <hr style="height:4px; margin: 10px 0; background-color: #aaaaaa">

                    <!--     flight information     -->
                    <div class="row p-0 m-0 pt-2 pb-2">
                        <div class="row col-3 p-0 m-0">
                            <!--     FLİGHT     -->
                            <div class="col-11 pl-1 pr-0">
                                <div class="pb-2">
                                    <span class="align-content-center big_font">FLİGHT</span>
                                </div>

                                <div class="pb-2">
                                    <div class="name align-content-center big_font" contenteditable="true"
                                         style="margin-bottom: -4px;">EY 96
                                    </div>
                                    <div class="align-content-center" th:text="${ticket.airLine.getName()}"
                                         style="font-size: 14px; margin-top: -4px;"></div>
                                </div>

                                <div>
                                    <span class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">Operated by:</span>
                                    <div class="align-content-center" th:text="${ticket.airLine.getName()}"
                                         style="font-size: 14px; margin-top: -4px;"></div>
                                </div>
                            </div>

                            <!-- Vertical line -->
                            <div class="row col-1 p-0 m-0 justify-content-end text-right">
                                <hr class="vertical-line">
                            </div>
                        </div>

                        <!--     DEPARTURE     -->
                        <div class="col-4 pl-1">
                            <div class="pb-1">
                                <span class="align-content-center big_font">DEPARTURE</span>
                            </div>

                            <div class="pb-2">
                                <div class="align-content-center" th:text="${ticket.fromWhere.getIataCode()}"
                                     style="font-size: 14px;margin-bottom: -4px;"></div>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.fromWhere.getCity()}"></div>
                                <div class="align-content-center" th:text="${ticket.fromWhere.getAirportName()}"
                                     style="font-size: 14px; margin-top: -4px;"></div>
                            </div>

                            <div class="pb-2">
                                <span class="align-content-center"
                                      th:text="${#temporals.format(ticket.departureTime, 'EEE dd MMM', #locale)}"
                                      style="font-size: 14px; margin-bottom: -4px;"></span>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.departureTime.getHour() + ':' + ticket.departureTime.getMinute()}"
                                     style="margin-top: -4px;"></div>
                            </div>

                            <div>
                                <div class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">
                                    Terminal:
                                </div>
                                <span class="align-content-center" contenteditable="true"
                                      style="margin-top: -4px;">A</span>
                            </div>
                        </div>

                        <!--     plane     -->
                        <div class="col-1 pl-1 pr-1 text-center">
                            <br><br>
                            <img th:src="@{/images/plane.svg}" width="40px" height="auto" alt="etlas">
                            <div class="pb-1 text-center">
                                <span class="align-content-center">Duration</span>
                            </div>
                        </div>

                        <!--     ARRİVAL     -->
                        <div class="col-4 pl-1 text-right">
                            <div class="pb-1">
                                <span class="align-content-center big_font">ARRİVAL</span>
                            </div>

                            <div class="pb-2">
                                <div class="align-content-center" th:text="${ticket.toWhere.getIataCode()}"
                                     style="font-size: 14px;margin-bottom: -4px;"></div>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.toWhere.getCity()}"></div>
                                <div class="align-content-center" th:text="${ticket.toWhere.getAirportName()}"
                                     style="font-size: 14px; margin-top: -4px;"></div>
                            </div>

                            <div class="pb-2">
                                <span class="align-content-center"
                                      th:text="${#temporals.format(ticket.departureTime, 'EEE dd MMM', #locale)}"
                                      style="font-size: 14px; margin-bottom: -4px;"></span>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.departureTime.getHour() + ':' + ticket.departureTime.getMinute()}"
                                     style="margin-top: -4px;"></div>
                            </div>

                            <div>
                                <div class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">
                                    Terminal:
                                </div>
                                <span class="align-content-center" contenteditable="true"
                                      style="margin-top: -4px;">A</span>
                            </div>
                        </div>

                    </div>

                    <hr style="height:2px; margin: 10px 0; background-color: #aaaaaa">

                    <div class="row p-0 m-0 pt-2 pb-2">
                        <div class="row col-3 p-0 m-0">
                            <!--     FLİGHT     -->
                            <div class="col-11 pl-1 pr-0">
                                <div class="pb-2">
                                    <span class="align-content-center big_font">FLİGHT</span>
                                </div>

                                <div class="pb-2">
                                    <div class="name align-content-center big_font" contenteditable="true"
                                         style="margin-bottom: -4px;">EY 96
                                    </div>
                                    <div class="align-content-center" th:text="${ticket.airLine.getName()}"
                                         style="font-size: 14px; margin-top: -4px;"></div>
                                </div>

                                <div>
                                    <span class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">Operated by:</span>
                                    <div class="align-content-center" th:text="${ticket.airLine.getName()}"
                                         style="font-size: 14px; margin-top: -4px;"></div>
                                </div>
                            </div>

                            <!-- Vertical line -->
                            <div class="row col-1 p-0 m-0 justify-content-end text-right">
                                <hr class="vertical-line">
                            </div>
                        </div>

                        <!--     DEPARTURE     -->
                        <div class="col-4 pl-1">
                            <div class="pb-1">
                                <span class="align-content-center big_font">DEPARTURE</span>
                            </div>

                            <div class="pb-2">
                                <div class="align-content-center" th:text="${ticket.fromWhere.getIataCode()}"
                                     style="font-size: 14px;margin-bottom: -4px;"></div>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.fromWhere.getCity()}"></div>
                                <div class="align-content-center" th:text="${ticket.fromWhere.getAirportName()}"
                                     style="font-size: 14px; margin-top: -4px;"></div>
                            </div>

                            <div class="pb-2">
                                <span class="align-content-center"
                                      th:text="${#temporals.format(ticket.departureTime, 'EEE dd MMM', #locale)}"
                                      style="font-size: 14px; margin-bottom: -4px;"></span>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.departureTime.getHour() + ':' + ticket.departureTime.getMinute()}"
                                     style="margin-top: -4px;"></div>
                            </div>

                            <div>
                                <div class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">
                                    Terminal:
                                </div>
                                <span class="align-content-center" contenteditable="true"
                                      style="margin-top: -4px;">A</span>
                            </div>
                        </div>

                        <!--     plane     -->
                        <div class="col-1 pl-1 pr-1 text-center">
                            <br><br>
                            <img th:src="@{/images/plane.svg}" width="40px" height="auto" alt="etlas">
                            <div class="pb-1 text-center">
                                <span class="align-content-center">Duration</span>
                            </div>
                        </div>

                        <!--     ARRİVAL     -->
                        <div class="col-4 pl-1 text-right">
                            <div class="pb-1">
                                <span class="align-content-center big_font">ARRİVAL</span>
                            </div>

                            <div class="pb-2">
                                <div class="align-content-center" th:text="${ticket.toWhere.getIataCode()}"
                                     style="font-size: 14px;margin-bottom: -4px;"></div>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.toWhere.getCity()}"></div>
                                <div class="align-content-center" th:text="${ticket.toWhere.getAirportName()}"
                                     style="font-size: 14px; margin-top: -4px;"></div>
                            </div>

                            <div class="pb-2">
                                <span class="align-content-center"
                                      th:text="${#temporals.format(ticket.departureTime, 'EEE dd MMM', #locale)}"
                                      style="font-size: 14px; margin-bottom: -4px;"></span>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.departureTime.getHour() + ':' + ticket.departureTime.getMinute()}"
                                     style="margin-top: -4px;"></div>
                            </div>

                            <div>
                                <div class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">
                                    Terminal:
                                </div>
                                <span class="align-content-center" contenteditable="true"
                                      style="margin-top: -4px;">A</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- END : Body-->
</html>
