<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN : Head-->

<head>
    <title>pdf ticker</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/etlas_black_title.svg}">
    <link rel="stylesheet" th:href="@{/assets/libs/css/pdf_ticket.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/new_fontawesome_all.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/new_fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/new_regular.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/new_solid.min.css}"/>
    <script th:src="@{/assets/libs/js/jspdf/jsPdf.js}"></script>
</head>
<body>
<div class="card shadow-none exclude-from-print">
    <div class="card-body p-0 pt-1 pb-1">
        <div class="row p-0 m-0 justify-content-center">
            <a href="#" type="button" class="btn btn-primary mr-2"><i
                    class="fa fa-paper-plane mr-1"></i>Send Via Email</a>
            <a href="#" type="button" id="saveAsPdfBtn" class="btn btn-success mr-2"><i
                    class="fa-regular fa-file-pdf"></i> Save As PDF</a>
        </div>
    </div>
</div>
<div id="pdfContent" class="card shadow-none">
    <div class="card-body">
        <div id="ticket">
            <div class="ticket overflow-auto mr-4 ml-4 mt-3 mb-2">
                <div style="min-width: 600px">
                    <div class="header">
                        <div class="row">
                            <div class="sidebar-logo">
                                <a href="#">
                                    <img th:src="@{/images/etlas_black.svg}" width="120px" height="auto"
                                         class="company-logo" alt="etlas">
                                </a>
                            </div>
                            <div class="col company-details">
                                <h2 class="name">YOLCULUK BELGESİ</h2>
                                <div class="editable-div-container">
                                    <span class="align-content-center">Sipariş numarası: </span>
                                    <div class="editable-div" contenteditable="true" th:text="ET-000-001"></div>
                                </div>
                                <div class="editable-div-container">
                                    <span class="align-content-center">Verildi: </span>
                                    <div class="editable-div" contenteditable="true"
                                         th:text="${ticket.getDateOfPerches()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr style="height:3px; margin: 10px 0; background-color: #aaaaaa">

                    <div class="row align-content-center p-0 m-0">
                        <img th:src="@{/images/plane.svg}" width="40px" height="auto" class="pl-2" alt="etlas">
                        <span class="name" style="font-size: 22px; margin-left: 15px;"
                              th:text="${ticket.fromWhere.getCity() + '-' + ticket.toWhere.getCity()}"></span>
                    </div>
                    <hr style="margin: 10px 0; background-color: #aaaaaa">

                    <div class="row p-0 m-0">
                        <div class="col-6 pl-1">
                            <span class="name align-content-center" style="font-size: 20px;">1</span>
                            <span class="align-content-center" style="font-size: 16px; margin-left: 7px;">Havayolu şirketi check-in referanslarınız(PNR)</span>
                        </div>
                        <div class="col-6">
                            <span class="align-content-center" style="font-size: 22px;"
                                  contenteditable="true" th:text="${ticket.pnrNo}">MEPUGY(EY)</span>
                        </div>
                    </div>
                    <hr style="margin: 10px 0; background-color: #aaaaaa">

                    <div class="row p-0 m-0">
                        <div class="col-6 pl-1">
                            <span class="name align-content-center" style="font-size: 20px;">2</span>
                            <span class="align-content-center" style="font-size: 16px; margin-left: 7px;">Rezervasyon numaranız(ticket No:)</span>
                        </div>
                        <div class="col-6">
                            <span class="align-content-center" style="font-size: 22px;"
                                  contenteditable="true" th:text="${ticket.ticketNo}">MEPUGY</span>
                        </div>
                    </div>
                    <hr style="height:2px; margin: 10px 0; background-color: #aaaaaa">

                    <div class="row p-0 m-0">
                        <div class="col-12 pl-1 text-center">
                            <span class="name align-content-center" style="font-size: 20px;">ÖNEMLİ:</span>
                            <span class="align-content-center" style="font-size: 16px; margin-left: 3px;">LÜTFEN BU SEYAHAT BELGENİZİ YAZDIRIN VE GEÇERLİ PASAPORTUNUZLA BİRLİKTE TAŞIYIN.</span>
                        </div>
                    </div>
                    <hr style="height:2px; margin: 10px 0; background-color: #aaaaaa">

                    <!--     flight information     -->
                    <div class="row p-0 m-0 pt-2 pb-2">
                        <div class="row col-4 p-0 m-0">
                            <!--     FLİGHT     -->
                            <div class="col-11 pl-1 pr-0">
                                <div class="pb-2">
                                    <span class="align-content-center big_font">FLİGHT</span>
                                </div>

                                <div class="pb-2">
                                    <div class="name align-content-center big_font" contenteditable="true"
                                         style="margin-bottom: -4px;">EY 96
                                    </div>
                                    <div class="airline_picture">
                                        <img th:src="@{/images/Turkish_Airlines.png}" width="auto" height="35px"
                                             alt="etlas">
                                    </div>
                                    <div class="align-content-center" th:text="${ticket.airLine.getName()}"
                                         style="font-size: 14px; margin-top: -4px;"></div>
                                </div>

                                <div>
                                    <span class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">Operated by:</span>
                                    <div class="align-content-center" th:text="${ticket.airLine.getName()}"
                                         style="font-size: 14px; margin-top: -4px;"></div>
                                </div>
                            </div>

                            <!-- Vertical line -->
                            <div class="row col-1 p-0 m-0 justify-content-end text-right">
                                <hr class="vertical-line">
                            </div>
                        </div>

                        <!--     DEPARTURE     -->
                        <div class="col-3 pl-1">
                            <div class="pb-1">
                                <span class="align-content-center big_font">DEPARTURE</span>
                            </div>

                            <div class="pb-2">
                                <div class="align-content-center" th:text="${ticket.fromWhere.getIataCode()}"
                                     style="font-size: 14px;margin-bottom: -4px;"></div>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.fromWhere.getCity()}"></div>
                                <div class="align-content-center" th:text="${ticket.fromWhere.getAirportName()}"
                                     style="font-size: 14px; margin-top: -4px;"></div>
                            </div>

                            <div class="pb-2">
                                <span class="align-content-center"
                                      th:text="${#temporals.format(ticket.departureTime, 'EEE dd MMM', #locale)}"
                                      style="font-size: 14px; margin-bottom: -4px;"></span>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.departureTime.getHour() + ':' + ticket.departureTime.getMinute()}"
                                     style="margin-top: -4px;"></div>
                            </div>

                            <div>
                                <div class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">
                                    Terminal:
                                </div>
                                <div class="align-content-center terminal" contenteditable="true"></div>
                            </div>
                        </div>

                        <!--     plane duration   -->
                        <div class="col-2 pl-1 pr-1 text-center">
                            <br><br>
                            <img th:src="@{/images/plane.svg}" width="40px" height="auto" alt="etlas">
                            <div class="pb-1 text-center">
                                <span class="align-content-center">Duration</span>
                                <div class="align-content-center duration" contenteditable="true"> Hour, Minute</div>
                            </div>
                        </div>

                        <!--     ARRİVAL     -->
                        <div class="col-3 pl-1 text-right">
                            <div class="pb-1">
                                <span class="align-content-center big_font">ARRİVAL</span>
                            </div>

                            <div class="pb-2">
                                <div class="align-content-center" th:text="${ticket.toWhere.getIataCode()}"
                                     style="font-size: 14px;margin-bottom: -4px;"></div>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.toWhere.getCity()}"></div>
                                <div class="align-content-center" th:text="${ticket.toWhere.getAirportName()}"
                                     style="font-size: 14px; margin-top: -4px;"></div>
                            </div>

                            <div class="pb-2">
                                <span class="align-content-center"
                                      th:text="${#temporals.format(ticket.departureTime, 'EEE dd MMM', #locale)}"
                                      style="font-size: 14px; margin-bottom: -4px;"></span>
                                <div class="name align-content-center big_font"
                                     th:text="${ticket.departureTime.getHour() + ':' + ticket.departureTime.getMinute()}"
                                     style="margin-top: -4px;"></div>
                            </div>

                            <div>
                                <div class="align-content-center" style="font-size: 14px; margin-bottom: -4px;">
                                    Terminal:
                                </div>
                                <div class="align-content-center terminal" contenteditable="true"></div>
                            </div>
                        </div>

                    </div>

                    <hr style="margin: 10px 0; background-color: #aaaaaa">

                    <!--     passenger information     -->
                    <div class="row p-0 m-0 pt-2 pb-2">
                        <!--     passenger name     -->
                        <div class="row col-3 p-0 m-0">
                            <div class="col-12 pl-1 pr-0">
                                <div class="pb-2">
                                    <span class="align-content-center" style="font-size: 14px;">Yolcu adı:</span>
                                </div>

                                <div class="pb-2">
                                    <div class="align-content-center big_font"
                                         th:if="${ticket.passengers[0].customerType.getDescription() == 'Individual'}"
                                         th:text="${ticket.passengers[0].firstName + ' ' + ticket.passengers[0].lastName}"
                                         style="margin-top: -4px;"></div>
                                </div>

                                <div class="align-content-center big_font"
                                     th:if="${ticket.passengers[0].customerType.getDescription() == 'Company'}"
                                     th:text="${ticket.passengers[0].companyName}"
                                     style="margin-top: -4px;"></div>
                            </div>
                        </div>

                        <!--     class     -->
                        <div class="row col-2 p-0 m-0">
                            <div class="col-12 pl-1 pr-0">
                                <div class="pb-2">
                                    <span class="align-content-center" style="font-size: 14px;">Sınıfı:</span>
                                </div>

                                <div class="pb-2">
                                    <div class="align-content-center big_font" contenteditable="true"
                                         style="margin-top: -4px;">E
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--     luggage     -->
                        <div class="row col-4 p-0 m-0">
                            <div class="col-12 pl-1 pr-0">
                                <div class="pb-2">
                                    <span class="align-content-center" style="font-size: 14px;">Check-in'de verilen bagaj izni:</span>
                                </div>

                                <span>izin verilen bagaj</span>
                                <span class="align-content-center big_font" contenteditable="true">20</span>
                                <span>kg</span>

                                <div style="margin-top: -7px">
                                <span>1 El bagajı
                                    <span class="align-content-center big_font"
                                          contenteditable="true">7</span><span>kg</span>
                                </span>
                                </div>

                            </div>
                        </div>

                        <!--     bill    -->
                        <div class="row col-3 p-0 m-0">
                            <div class="col-12 pl-1 pr-0">
                                <div class="pb-2">
                                    <span class="align-content-center"
                                          style="font-size: 14px;">e-Bilet makbuzları:</span>
                                </div>

                                <div class="pb-2">
                                    <div class="align-content-center big_font" contenteditable="true"
                                         style="margin-top: -4px;">ET-0000000001
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr style="height:2px; margin: 10px 0; background-color: #aaaaaa">


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('saveAsPdfBtn').addEventListener('click', function () {
        // Get the element by its ID
        const content = document.getElementById('pdfContent');

        // Create a new jsPDF instance
        const pdf = new jsPDF();

        // Add HTML content to PDF
        pdf.html(content, {
            callback: function (pdf) {
                // Save or download the PDF
                pdf.save('document.pdf');
            }
        });
    });
</script>

</body>
<!-- END : Body-->
</html>
