<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>ticket create</title>
<head th:replace="~{fragments/head :: header}"></head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/left-sidebar :: left-sidebar}"></div>
    <div class="dashboard-main-wrapper pt-3">
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <div class="ecommerce-widget pt-4">
                        <nav style="--bs-breadcrumb-divider:5 " aria-label="breadcrumb" class="pb-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item custom-breadcrumb-item"><a th:href="@{/ticket/list}"><i
                                        class="fa-solid fa-house"></i> Tickets </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><i
                                        class="fa-solid fa-chevron-right" style="font-size: 12px"></i> Ticket create
                                </li>
                            </ol>
                        </nav>
                        <header class="panel-heading text-center"></header>
                        <div class="row justify-content-center align-items-center pt-0">
                            <div class="col-12 col-md-12 col-lg-11">
                                <div class="input-group justify-content-end">
                                    <div class="col-auto pr-0">
                                        <div class="col-12 col-sm-6 col-lg-3 pr-1 d-flex align-items-right">
                                            <a id="staffListLink"
                                               class="btn text-light list-page-drop-downs pr-4 pl-4 mb-2"
                                               th:href="@{/ticket/list}"><i class="fa fa-list mr-1"></i> Ticket List</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header text-center text-white bold_font"
                                         style="font-size: x-large;background: #117dc0 !important;">Save New Ticket
                                    </div>
                                    <div class="card-body pt-5 pb-5">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-12 col-md-12 col-lg-10">

                                                <form th:object="${newTicket}" th:action="@{/ticket/create}" id="ticketForm"
                                                      method="post" class="row g-3 ">

                                                    <div class="row m-0 mt-2">
                                                        <div class="col-6 col-md-3 col-lg-3 pb-2">
                                                            <div class="form-check form-switch">
                                                                <input class="form-check-input" th:field="*{oneWayTrip}"
                                                                       type="checkbox" id="type-one-way">
                                                                <label class="form-check-label" for="type-one-way">
                                                                    <i class="fa-solid fa-arrow-right"></i> One
                                                                    way</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-6 col-md-3 col-lg-3">
                                                            <div class="form-check form-switch">
                                                                <input class="form-check-input" th:field="*{roundTrip}"
                                                                       type="checkbox" id="type-round-trip">
                                                                <label class="form-check-label" for="type-round-trip">
                                                                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                                                    Round trip</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-6 col-md-3 col-lg-3 pb-2">
                                                            <div class="form-check form-switch">
                                                                <input class="form-check-input"
                                                                       th:field="*{singleTicket}"
                                                                       type="checkbox" id="ticket-type-single">
                                                                <label class="form-check-label"
                                                                       for="ticket-type-single">
                                                                    <i class="fa-solid fa-user"></i> single</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-6 col-md-3 col-lg-3">
                                                            <div class="form-check form-switch">
                                                                <input class="form-check-input"
                                                                       th:field="*{multipleTicket}"
                                                                       type="checkbox" id="ticket-type-multiple">
                                                                <label class="form-check-label"
                                                                       for="ticket-type-multiple">
                                                                    <i class="fa-solid fa-users"></i>
                                                                    multiple</label>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <hr class="mb-1 mt-3 row pl-0 pr-0 mr-0 ml-0">

                                                    <div class="col-md-6 col-lg-4 mb-0"
                                                         th:classappend="${#fields.hasErrors('pnrNo')} ? 'error' : ''"
                                                         id="TkNo">
                                                        <div class="form-group p-0 m-0">
                                                            <label for="inputPNR"
                                                                   class="form-label mb-1 pl-1">PNR</label>
                                                            <input type="text" th:field="*{pnrNo}"
                                                                   class="form-control" id="inputPNR">
                                                            <div class="custom-invalid-feedback"
                                                                 th:if="${#fields.hasErrors('pnrNo')}">
                                                                <ul class="p-0 m-0">
                                                                    <li th:each="err : ${#fields.errors('pnrNo')}"
                                                                        th:text="${err}"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6 col-lg-4 mb-0"
                                                         style="margin-top: 17px">
                                                        <label for="mySelectForAirline"
                                                               class="form-label pl-1 ml-0 mb-1 d-block">Airline</label>
                                                        <select id="mySelectForAirline"
                                                                th:field="*{airLine}" th:name="airLine"
                                                                class="form-control mb-0" style="width: 100%">
                                                            <option th:each="airLineOption:${countriesTr}"
                                                                    th:value="${airLineOption}"
                                                                    th:text="${airLineOption.name}"></option>
                                                        </select>
                                                        <div class="ticket-create-airline-select text-right">
                                                            <i id="airline-selector-arrow"
                                                               class="fa-solid fa-chevron-down rotate-down"></i>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-lg-4"
                                                         th:classappend="${#fields.hasErrors('ticketAmount')} ? 'error' : ''"
                                                         id="ticketAmount">
                                                        <div class="form-group p-0 m-0">
                                                            <label for="inputTicketAmount" class="form-label mb-1 pl-1">Ticket
                                                                Amount</label>
                                                            <input type="number" th:field="*{ticketAmount}"
                                                                   class="form-control" id="inputTicketAmount">
                                                            <div class="custom-invalid-feedback"
                                                                 th:if="${#fields.hasErrors('ticketAmount')}">
                                                                <ul class="p-0 m-0">
                                                                    <li th:each="err : ${#fields.errors('ticketAmount')}"
                                                                        th:text="${err}"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row p-0 m-0">
                                                        <div class="col-12 col-md-12 col-lg-8 pb-0"
                                                             style="padding: 0 8px; margin-top: 17px">
                                                            <div class="row p-0 m-0">

                                                                <div class="form-group col-6 mb-0 pl-0">
                                                                    <label for="mySelectForFrom"
                                                                           class="form-label pl-1 mb-1 d-block">
                                                                        <i class="fa-solid fa-plane-departure"></i> From</label>
                                                                    <select id="mySelectForFrom"
                                                                            th:field="*{fromWhere}" th:name="fromWhere"
                                                                            class="form-control" style="width: 100%">
                                                                        <option th:each="fromWhere:${countriesTr}"
                                                                                th:value="${fromWhere}"
                                                                                th:text="${fromWhere.name}"></option>
                                                                    </select>
                                                                    <div class="ticket-create-from-select text-right">
                                                                        <i id="from-where-selector-arrow"
                                                                           class="fa-solid fa-chevron-down rotate-down"></i>
                                                                    </div>

                                                                    <div class="ticket-create-from-to-switch btn text-right">
                                                                        <i id="from-to-switch-button"
                                                                           class="fa-solid fa-arrow-right-arrow-left"></i>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group col-6 mb-0 pr-0">
                                                                    <label for="mySelectForArrival"
                                                                           class="form-label pl-1 mb-1 ml-0 d-block">
                                                                        <i class="fa-solid fa-plane-arrival"></i>
                                                                        To</label>
                                                                    <select id="mySelectForArrival"
                                                                            th:field="*{toWhere}" th:name="toWhere"
                                                                            class="form-control" style="width: 100%">
                                                                        <option th:each="toWhere:${countriesTr}"
                                                                                th:value="${toWhere}"
                                                                                th:text="${toWhere.getName()}"></option>
                                                                    </select>
                                                                    <div class="ticket-create-to-select text-right">
                                                                        <i id="to-where-selector-arrow"
                                                                           class="fa-solid fa-chevron-down rotate-down"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 col-md-12 col-lg-4 mb-0"
                                                             style="padding: 0 8px 0 4px;margin-top: 16px">
                                                            <label id="departure-time-label" for="departure-time"
                                                                   class="form-label mb-1 pl-1">
                                                                <i class="fa-regular fa-calendar-days"></i> Departure
                                                                time</label>

                                                            <input type="text" th:field="*{dateRangeString}"
                                                                   class="form-control" id="departure-time" th:name="departure-time">
                                                        </div>
                                                    </div>

                                                    <div class="row p-0 m-0">
                                                        <div class="form-group col-12 mb-0"
                                                             style="padding: 0 161px 0 8px; margin-top: 17px">
                                                            <label for="mySelectForPassenger"
                                                                   class="form-label pl-1 mb-1 ml-0 d-block">Select
                                                                Passenger</label>
                                                            <select id="mySelectForPassenger" multiple
                                                                    th:field="*{passengers}" name="passengers"
                                                                    class="form-control" style="width: 100%;">
                                                                <option th:each="passenger:${passengerList}"
                                                                        th:value="${passenger.id}"
                                                                        th:text="${passenger.firstName + ' ' + passenger.lastName}"></option>
                                                            </select>
                                                            <div class="ticket-create-passenger-select text-right">
                                                                <i id="passenger-selector-arrow"
                                                                   class="fa-solid fa-chevron-down rotate-down"></i>
                                                            </div>
                                                            <div class="text-right">
                                                                <button class="btn new-passenger-button" type="button"
                                                                        id="showAddCustomerModal">
                                                                    <strong><i class="fa-solid fa-plus"></i> New
                                                                        Passenger</strong>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row p-0 m-0">
                                                        <div class="form-group col-12 col-md-6 col-lg-6 mb-0"
                                                             style="padding: 0 8px 0 8px;margin-top: 16px">
                                                            <label for="mySelectForBoughtUser"
                                                                   class="form-label mb-1 pl-1">Bought
                                                                User</label>
                                                            <select id="mySelectForBoughtUser" th:field="*{boughtUser}"
                                                                    th:name="boughtUser" class="form-select" style="width: 100%">
                                                                <option th:each="boughtUser:${userList}"
                                                                        th:value="${boughtUser.id}"
                                                                        th:text="${boughtUser.firstName + ' ' + boughtUser.lastName}"></option>
                                                            </select>
                                                            <div class="ticket-create-airline-select text-right">
                                                                <i id="bought-user-selector-arrow"
                                                                   class="fa-solid fa-chevron-down rotate-down"></i>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-12 col-md-6 col-lg-6 mb-0"
                                                             style="padding: 0 8px 0 4px;margin-top: 16px">
                                                            <label for="date-of-perches" class="form-label mb-1 pl-1"> <i
                                                                    class="fa-regular fa-calendar-days"></i> Date of
                                                                perches</label>
                                                            <input type="text" th:field="*{dateOfPerches}"
                                                                   class="form-control date-picker"
                                                                   id="date-of-perches">
                                                        </div>
                                                    </div>

                                                    <div class="row p-0 m-0">

                                                        <div class="form-group col-12 col-md-4 col-lg-4 mb-0"
                                                             style="padding: 0 8px 0 8px;margin-top: 16px">
                                                            <label for="perchesPrice" class="form-label mb-1 pl-1">Perches
                                                                price</label>
                                                            <div class="input-group currency-input-group"
                                                                 id="perchesPrice">
                                                                <span class="input-group-text currency-symbol">₺</span>
                                                                <input type="text" th:field="*{perchesPrice}"
                                                                       class="form-control"
                                                                       aria-label="Perches price input">
                                                                <span class="input-group-text">0.00</span>
                                                                <button type="button"
                                                                        class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                                                        data-toggle="dropdown" aria-expanded="false">
                                                                    <span class="visually-hidden">Toggle Dropdown</span>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-custom-css">
                                                                    <li th:each="currency, status : ${currencyUnits}">
                                                                        <a class="dropdown-item dropdown-menu-item-custom-css change-currency"
                                                                           th:style="${status.first} ? 'border-radius: 8px 8px 0 0' : '' + (${status.last} ? 'border-radius: 0 0 8px 8px' : '')"
                                                                           th:data-currency-symbol="${currency.currencySymbol}"
                                                                           th:data-selected-currency="${currency}"
                                                                           th:text="${currency.description}">
                                                                        </a>
                                                                    </li>
                                                                </ul>

                                                            </div>
                                                        </div>

                                                        <input type="hidden" th:field="*{currencyUnit}"
                                                               id="selectedCurrencyUnitInput">


                                                        <div class="form-group col-12 col-md-4 col-lg-4 mb-0"
                                                             style="padding: 0 8px 0 8px;margin-top: 16px">
                                                            <label for="salesPrice" class="form-label mb-1 pl-1">Sales
                                                                price</label>
                                                            <div class="input-group currency-input-group"
                                                                 id="salesPrice">
                                                                <span class="input-group-text currency-symbol">₺</span>
                                                                <input type="text" th:field="*{salesPrice}"
                                                                       class="form-control"
                                                                       aria-label="Sales price input">
                                                                <span class="input-group-text">0.00</span>
                                                            </div>
                                                        </div>

                                                        <!-- Payed amount -->
                                                        <div class="form-group col-12 col-md-4 col-lg-4 mb-0"
                                                             style="padding: 0 8px 0 8px;margin-top: 16px">
                                                            <label for="payedAmount" class="form-label mb-1 pl-1">Payed
                                                                amount</label>
                                                            <div class="input-group currency-input-group"
                                                                 id="payedAmount">
                                                                <span class="input-group-text currency-symbol">₺</span>
                                                                <input type="text" th:field="*{payedAmount}"
                                                                       class="form-control"
                                                                       aria-label="Payed amount input">
                                                                <span class="input-group-text">0.00</span>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row p-0 m-0">
                                                        <div class="form-group col-12 col-md-6 col-lg-4 mb-0"
                                                             style="padding: 0 8px 0 8px;margin-top: 17px">
                                                            <label for="receiver-user"
                                                                   class="form-label pl-1 mb-1 d-block">Receiver</label>
                                                            <select id="receiver-user" th:field="*{receivedUser}" name="receiverUser"
                                                                    class="form-select" style="width: 100%">
                                                                <option th:each="receiver:${userList}"
                                                                        th:value="${receiver.id}"
                                                                        th:text="${receiver.firstName + ' ' + receiver.lastName}"></option>
                                                            </select>
                                                            <div class="ticket-create-airline-select text-right">
                                                                <i id="receiver-selector-arrow"
                                                                   class="fa-solid fa-chevron-down rotate-down"></i>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 col-md-6 col-lg-4 mb-0"
                                                             style="padding: 0 8px 0 4px;margin-top: 17px">
                                                            <label for="mySelectForPayer"
                                                                   class="form-label pl-1 mb-1 d-block">Payer</label>
                                                            <select id="mySelectForPayer"
                                                                    th:field="*{payedCustomer}" name="payerCustomer"
                                                                    class="form-control mb-0" style="width: 100%">
                                                                <option th:each="payerCustomer : ${customerList}"
                                                                        th:value="${payerCustomer.getId()}"
                                                                        th:text="${payerCustomer.customerType.description == 'Company' ? payerCustomer.companyName : (payerCustomer.customerType.description == 'Individual' ? payerCustomer.firstName + ' ' + payerCustomer.lastName : 'Unknown')}">
                                                                </option>
                                                            </select>
                                                            <div class="ticket-create-airline-select text-right">
                                                                <i id="payer-selector-arrow"
                                                                   class="fa-solid fa-chevron-down rotate-down"></i>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-12 col-md-12 col-lg-4 mb-0"
                                                             style="padding: 0 8px 0 4px;margin-top: 16px">
                                                            <label for="date-of-payed" class="form-label mb-1 pl-1"> <i
                                                                    class="fa-regular fa-calendar-days"></i> Date of
                                                                payed</label>
                                                            <input type="text" th:field="*{dateOfPayed}"
                                                                   class="form-control date-picker" id="date-of-payed">
                                                        </div>

                                                    </div>


                                                    <div class="col-12"
                                                         th:classappend="${#fields.hasErrors('notes')} ? 'error' : ''"
                                                         id="notesSection">
                                                        <div class="form-group p-0 m-0">
                                                            <label for="notes"
                                                                   class="form-label pl-1 mb-1 d-block">Notes</label>
                                                            <textarea type="text" th:field="*{notes}"
                                                                      class="form-control" id="notes">

                                                            </textarea>
                                                            <div class="custom-invalid-feedback"
                                                                 th:if="${#fields.hasErrors('notes')}">
                                                                <ul class="p-0 m-0">
                                                                    <li th:each="err : ${#fields.errors('notes')}"
                                                                        th:text="${err}"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="uploadTickets" class="form-label pl-1">Upload tickets</label>
                                                        <input class="form-control" type="file" id="uploadTickets">
                                                    </div>


                                                    <div class="row justify-content-end pt-3 pr-0 pl-0">
                                                        <div class="col-12 col-md-6 col-lg-6 text-right p-0">
                                                            <button type="submit" id="saveTicketButton"
                                                                    class="btn list-page-drop-downs-export pr-5 pl-5">
                                                                Save
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>
                                                <div class="modal fade" id="add-new-customer-modal"
                                                     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                                        <div class="modal-content pr-4 pl-4">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5 text-center w-100"
                                                                    id="add-new-customer-modal-label">Add New
                                                                    Customer</h1>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <form th:object="${newCustomer}" id="customerForm" name="customerForm"
                                                                      th:action="@{/ticket/create-add-customer}" method="post"
                                                                      class="row g-3">


                                                                    <div class="col-md-6"
                                                                         id="individualSection">
                                                                        <div class="form-group p-0 m-0">
                                                                            <label for="inputFirstName"
                                                                                   class="form-label mb-1 pl-1">first Name</label>
                                                                            <input type="text" th:field="*{firstName}"
                                                                                   class="form-control"
                                                                                   id="inputFirstName">
                                                                            <div class="custom-invalid-feedback"
                                                                                 id="firstNameValidationMessage">
                                                                                <ul class="p-0 m-0">
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6"
                                                                         id="lastNameSection">
                                                                        <div class="form-group p-0 m-0">
                                                                            <label for="inputLastName"
                                                                                   class="form-label mb-1 pl-1">Last Name</label>
                                                                            <input type="text" th:field="*{lastName}"
                                                                                   class="form-control"
                                                                                   id="inputLastName">
                                                                            <div class="custom-invalid-feedback"
                                                                                  id="lastNameValidationMessage">
                                                                                <ul class="p-0 m-0">
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <div class="form-group p-0 m-0">
                                                                            <label for="inputEmail" class="form-label mb-1 pl-1">Email</label>
                                                                            <input type="email" th:field="*{email}"
                                                                                   class="form-control" id="inputEmail"
                                                                                   spellcheck="false"
                                                                                   placeholder="ex: example@sever.com">
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-md-6" id="phoneSection">
                                                                        <div class="form-group p-0 m-0">
                                                                            <label for="inputPhone" class="form-label mb-1 pl-1">Phone</label>
                                                                            <input type="number"
                                                                                   th:field="*{phoneNumber}"
                                                                                   class="form-control"
                                                                                   placeholder="ex: 05552223344"
                                                                                   id="inputPhone">
                                                                            <div class="custom-invalid-feedback"
                                                                                 id="phoneValidationMessage">
                                                                                <ul class="p-0 m-0">
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-md-6">
                                                                        <div class="form-group mb-0">
                                                                            <label for="mySelectForCountry"
                                                                                   class="form-label d-block mb-1 pl-1">Country</label>
                                                                            <select id="mySelectForCountry"
                                                                                    th:field="*{country}" name="customerCountry"
                                                                                    class="form-control"
                                                                                    style="width: 100%">
                                                                                <option th:each="customerCountry:${countriesTr}"
                                                                                        th:value="${customerCountry}"
                                                                                        th:selected="${customerCountry.getAlpha3Code() == 'EAT'}"
                                                                                        th:text="${customerCountry.getName()}"></option>
                                                                            </select>
                                                                            <div class="customer-create-country-select text-right">
                                                                                <i id="customer-country-selector"
                                                                                   class="fa-solid fa-chevron-down rotate-down"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-md-6" id="genderSelection">
                                                                        <div class="form-group p-0 m-0">
                                                                            <label for="inputGender" class="form-label mb-1 pl-1">Choose
                                                                                Gender</label>
                                                                            <select id="inputGender"
                                                                                    th:field="*{gender}" name="gender"
                                                                                    class="form-select">
                                                                                <option th:each="gender:${genders}"
                                                                                        th:value="${gender}"
                                                                                        th:text="${gender.value}"></option>

                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6"
                                                                         th:classappend="${#fields.hasErrors('customerTRYBalance')} ? 'error' : ''">
                                                                        <div class="form-group p-0 m-0">
                                                                            <label for="customerTRYBalance"
                                                                                   class="form-label mb-1 pl-1">Customer
                                                                                Balance</label>
                                                                            <div class="input-group">
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       th:field="*{customerTRYBalance}"
                                                                                       id="customerTRYBalance"
                                                                                       name="customerBalance">
                                                                                <span class="input-group-text"
                                                                                      id="currencyTRYSymbol">₺</span>
                                                                                <span class="input-group-text">0.00</span>
                                                                                <div class="custom-invalid-feedback"
                                                                                     th:if="${#fields.hasErrors('customerTRYBalance')}">
                                                                                    <ul class="p-0 m-0">
                                                                                        <li th:each="err : ${#fields.errors('customerTRYBalance')}"
                                                                                            th:text="${err}"></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6"
                                                                         th:classappend="${#fields.hasErrors('customerUSDBalance')} ? 'error' : ''">
                                                                        <div class="form-group p-0 m-0">
                                                                            <label for="customerTRYBalance"
                                                                                   class="form-label mb-1 pl-1">Customer
                                                                                Balance</label>
                                                                            <div class="input-group">
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       th:field="*{customerUSDBalance}"
                                                                                       id="customerUSDBalance"
                                                                                       name="customerBalance">
                                                                                <span class="input-group-text"
                                                                                      id="currencyUSDSymbol">$</span>
                                                                                <span class="input-group-text">0.00</span>
                                                                                <div class="custom-invalid-feedback"
                                                                                     th:if="${#fields.hasErrors('customerUSDBalance')}">
                                                                                    <ul class="p-0 m-0">
                                                                                        <li th:each="err : ${#fields.errors('customerUSDBalance')}"
                                                                                            th:text="${err}"></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6"
                                                                         th:classappend="${#fields.hasErrors('customerEURBalance')} ? 'error' : ''">
                                                                        <div class="form-group p-0 m-0">
                                                                            <label for="customerEURBalance"
                                                                                   class="form-label mb-1 pl-1">Customer
                                                                                Balance</label>
                                                                            <div class="input-group">
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       th:field="*{customerEURBalance}"
                                                                                       id="customerEURBalance"
                                                                                       name="customerBalance">
                                                                                <span class="input-group-text"
                                                                                      id="currencyEURSymbol">€</span>
                                                                                <span class="input-group-text">0.00</span>
                                                                                <div class="custom-invalid-feedback"
                                                                                     th:if="${#fields.hasErrors('customerEURBalance')}">
                                                                                    <ul class="p-0 m-0">
                                                                                        <li th:each="err : ${#fields.errors('customerEURBalance')}"
                                                                                            th:text="${err}"></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary pr-4 pl-4"
                                                                                data-bs-dismiss="modal">
                                                                            <strong>Cancel</strong>
                                                                        </button>
                                                                        <button type="submit" id="saveCustomerButton" class="btn list-page-drop-downs-export pr-5 pl-5">
                                                                            <strong>Save</strong>
                                                                        </button>

                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/javascript :: js}"></div>
<link rel="stylesheet" th:href="@{/assets/libs/css/customer-create.css}"/>
<script th:src="@{/assets/libs/js/ticket-create-add-customer.js}"></script>

</body>
</html>