<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>passenger list</title>
<head th:replace="~{fragments/head :: header}"></head>
<body class="bg-light">
<div class="wrapper">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/left-sidebar :: left-sidebar}"></div>
    <div class="dashboard-main-wrapper pt-3">

        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">


                    <div class="ecommerce-widget pt-4">

                        <nav style="--bs-breadcrumb-divider:- " aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item custom-breadcrumb-item"><a th:href="@{/ticket/list}"><i
                                        class="fa-solid fa-house"></i> Tickers </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><i
                                        class="fa-solid fa-chevron-right" style="font-size: 12px"></i> passenger list
                                </li>
                            </ol>
                        </nav>

                        <header class="panel-heading text-center pt-5">
                            <h4 class="panel-title bold_font">passengers</h4>
                        </header>
                        <div class="row">
                            <div class="col-12">
                                <div class="card border-0 shadow-none bg-light justify-content-center align-items-center">
                                    <div class="col-12 col-md-12 col-lg-11">

                                        <div class="table-responsive">
                                            <table id="passengers" class="table table-hover bg-white users_table">
                                                <thead class="custom_table_header">
                                                <tr>
                                                    <th scope="col">#</th> <!-- New column for numbering -->
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Gender</th>
                                                    <th scope="col">Customer Type</th>
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Country</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-group-divider" >
                                                <tr th:each="passenger, iterStat : ${ticket.getPassengers()}">
                                                    <td th:text="${iterStat.index + 1}"></td> <!-- Use iterStat.index to get the current index -->
                                                    <td th:if="${passenger.customerType.description == 'Individual'}" th:text="${passenger.firstName + ' ' + passenger.lastName}"></td>
                                                    <td th:if="${passenger.customerType.description == 'Company'}" th:text="${passenger.companyName}"></td>

                                                    <td th:if="${passenger.customerType.description == 'Individual'}" th:text="${passenger.gender.name()}"></td>
                                                    <td th:unless="${passenger.customerType.description == 'Individual'}" th:text="None"></td>

                                                    <td th:text="${passenger.customerType.description}"></td>

                                                    <td th:if="${passenger.customerType.description == 'Individual'}" th:text="${passenger.phoneNumber}"></td>
                                                    <td th:if="${passenger.customerType.description == 'Company'}">
                                                        <span th:text="${passenger.phoneNumber}"></span><br th:if="${passenger.phoneNumber != ''}">
                                                        <span th:text="${passenger.officeNumber}"></span>
                                                    </td>
                                                    <td th:text="${passenger.email}"></td>
                                                    <td th:text="${passenger.country.getName()}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/javascript :: js}"></div>
</body>
</html>