<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>ticket list</title>
<head th:replace="~{fragments/head :: header}"></head>
<body class="bg-light">
<div class="wrapper">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/left-sidebar :: left-sidebar}"></div>
    <div class="dashboard-main-wrapper pt-3">

        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">


                    <div class="ecommerce-widget pt-4">

                        <nav style="--bs-breadcrumb-divider:- " aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item custom-breadcrumb-item"><a href="#"><i
                                        class="fa-solid fa-house"></i> Tickets </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><i
                                        class="fa-solid fa-chevron-right" style="font-size: 12px"></i> Ticket list
                                </li>
                            </ol>
                        </nav>

                        <header class="panel-heading text-center pt-5">
                            <h4 class="panel-title bold_font">Tickets</h4>
                        </header>
                        <div class="row">
                            <div class="col-12">
                                <div class="card border-0 shadow-none bg-light justify-content-center align-items-center">
                                    <div class="col-12">

                                        <div class="row bg-white mr-0 ml-0 table_top_search_bar_column"
                                             style="border-radius: 5px">
                                            <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0 mb-sm-2 pl-1">
                                                <div class="col-12 dropdown pl-0">
                                                    <button class="btn list-page-drop-downs dropdown-toggle"
                                                            type="button"
                                                            id="more_actions" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa-solid fa-list"></i> More Actions
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-custom-css"
                                                         aria-labelledby="more_actions">
                                                        <a class="dropdown-item dropdown-menu-item-custom-css"
                                                           id="more_actions_copy"
                                                           style="display: flex; align-items: center;">
                                                            <span>Copy</span>
                                                            <span style="margin-left: auto;"><img
                                                                    th:src="@{/images/copy.png}"></span>
                                                        </a>

                                                        <a class="dropdown-item dropdown-menu-item-custom-css"
                                                           id="more_actions_print"
                                                           style="display: flex; align-items: center;border-radius: 0 0 8px 8px">
                                                            <span>Print</span>
                                                            <span style="margin-left: auto;"><img
                                                                    th:src="@{/images/print.png}"></span>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0 mb-sm-2">
                                                <input type="search" class="form-control mb-2 mb-md-0 mb-sm-2"
                                                       id="myInput" placeholder="Search...">

                                            </div>

                                            <div class="col-12 col-md-12 col-lg-4 text-right pr-1">

                                                <a th:href="@{/ticket/create}">
                                                    <button class="btn list-page-drop-downs mr-0" id="userCreate">
                                                        <i class="fa-solid fa-user-plus"></i> New Ticket
                                                    </button>
                                                </a>
                                                <div class="col-12 dropdown pr-1 pl-1" style="display: inline;">
                                                    <button class="btn list-page-drop-downs-export dropdown-toggle"
                                                            type="button"
                                                            id="export_buttons" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa-solid fa-file-export"></i> Export
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-custom-css"
                                                         aria-labelledby="export_buttons">
                                                        <div class="export_header" style="cursor: pointer"><span
                                                                class="pr-4">Export As</span>
                                                            <i class="fa-solid fa-download"></i></div>
                                                        <a class="dropdown-item dropdown-menu-item-custom-css"
                                                           id="export_pdf" style="display: flex; align-items: center;">
                                                            <span>PDF</span>
                                                            <span style="margin-left: auto;"><img
                                                                    th:src="@{/images/pdf.png}"></span>
                                                        </a>
                                                        <a class="dropdown-item dropdown-menu-item-custom-css"
                                                           id="export_excel"
                                                           style="display: flex; align-items: center;">
                                                            <span>Excel</span>
                                                            <span style="margin-left: auto;"><img
                                                                    th:src="@{/images/excel.png}"></span>
                                                        </a>

                                                        <a class="dropdown-item dropdown-menu-item-custom-css"
                                                           id="export_csv"
                                                           style="display: flex; align-items: center;border-radius: 0 0 8px 8px">
                                                            <span>CSV</span>
                                                            <span style="margin-left: auto;"><img
                                                                    th:src="@{/images/csv.png}"></span>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table id="example"
                                                   class="table table-hover table-bordered bg-white users_table">
                                                <thead class="custom_table_header">
                                                <tr>
                                                    <th scope="col">PNR</th>
                                                    <th scope="col">Airline</th>
                                                    <th scope="col">From-To</th>
                                                    <th scope="col">Departure Time</th>
                                                    <th scope="col">Passenger</th>
                                                    <!--                                                    <th scope="col">Bought User</th>-->
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Paid Customer</th>
                                                    <th scope="col">Paid Card</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <!--                                                th:class="${customer.customerType.description eq 'Company'} ? 'company-row' : 'individual-row'"-->

                                                <tr th:each="ticket :${ticketList}">
                                                    <td>
                                                        <a th:href="@{/ticket/details/{ticketId}(ticketId=${ticket.id})}">
                                                            <span th:utext="${ticket.pnrNo}"></span>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <!-- Check customer type and display appropriate name -->
                                                        <span th:text="${ticket.airLine.name}"></span>
                                                    </td>

                                                    <td th:if="${ticket.tripType.getDescription() == 'Round trip'}">
                                                        <span th:utext="${ticket.fromWhere.city} +' <i class=\'fa-solid fa-arrow-right-long departure-css\'></i> ' + ${ticket.toWhere.city}"></span><br/>
                                                        <span th:utext="${ticket.toWhere.city}+' <i class=\'fa-solid fa-arrow-right-long departure-css\'></i> ' + ${ticket.fromWhere.city}"></span>
                                                    </td>
                                                    <td th:if="${ticket.tripType.getDescription() == 'One way trip'}">
                                                        <span th:utext="${ticket.fromWhere.city} +' <i class=\'fa-solid fa-arrow-right-long departure-css\'></i> ' + ${ticket.toWhere.city}"></span>
                                                    </td>

                                                    <td th:if="${ticket.tripType.getDescription() == 'Round trip'}">
                                                        <span th:utext="'<i class=\'fa-solid fa-plane-departure departure-css\'></i>  ' + ${#temporals.format(ticket.departureTime, 'dd-MM-yyyy, HH:mm')}"></span><br/>
                                                        <span th:utext="'<i class=\'fa-solid fa-plane-departure departure-css\'></i>  ' + ${#temporals.format(ticket.returnTime, 'dd-MM-yyyy, HH:mm')}"></span>
                                                    </td>

                                                    <td th:if="${ticket.tripType.getDescription() == 'One way trip'}">
                                                        <span th:utext="'<i class=\'fa-solid fa-plane-departure departure-css\'></i>  ' + ${#temporals.format(ticket.departureTime, 'dd-MM-yyyy, HH:mm')}"></span>

                                                    </td>

                                                    <td>
                                                        <a th:href="@{/ticket/passenger/list/{ticketId}(ticketId=${ticket.id})}">

                                                            <span th:if="${ticket.passengers.get(0).customerType.description == 'Company'}"
                                                                  th:utext="${ticket.passengers.size() > 1 ? '<i class=&quot;fa-solid fa-users&quot;></i> ' + ticket.passengers.get(0).companyName : ticket.passengers.get(0).companyName}">
                                                            </span>

                                                            <span th:if="${ticket.passengers.get(0).customerType.description == 'Individual'}"
                                                                  th:utext="${ticket.passengers.size() > 1 ? '<i class=&quot;fa-solid fa-users&quot;></i> ' + ticket.passengers.get(0).firstName + ' ' + ticket.passengers.get(0).lastName : ticket.passengers.get(0).firstName + ' ' + ticket.passengers.get(0).lastName}">
                                                            </span>
                                                        </a>
                                                    </td>

                                                    <td th:if="${ticket.currencyUnit.description=='₺ TRY'}"
                                                        th:text="${ticket.salesPrice} + ' ₺'"></td>
                                                    <td th:if="${ticket.currencyUnit.description=='$ USD'}"
                                                        th:text="${ticket.salesPrice} + ' $'"></td>
                                                    <td th:if="${ticket.currencyUnit.description=='€ EUR'}"
                                                        th:text="${ticket.salesPrice} + ' €'"></td>

                                                    <td>
                                                        <a th:href="@{/ticket/customer/details/{customerId}(customerId=${ticket.payedCustomer.id})}">

                                                           <span th:if="${ticket.payedCustomer.customerType.description == 'Company'}"
                                                                 th:text="${ticket.payedCustomer.companyName}"></span>

                                                            <span th:if="${ticket.payedCustomer.customerType.description == 'Individual'}"
                                                                  th:text="${ticket.payedCustomer.firstName} + ' ' + ${ticket.payedCustomer.lastName}"></span>
                                                        </a>
                                                    </td>


                                                    <td>
                                                        <a th:href="@{/card/details/{cardId}(cardId=${ticket.paidCard.id},from='ticket')}">
                                                            <span th:text="${ticket.paidCard.getCardOwner()}"></span><br/>
                                                        </a>
                                                        <span class="ticket_table_second_line"
                                                              th:text="${ticket.paidCard.getBankName()}"></span>
                                                    </td>


                                                    <td class="actions">
                                                        <a th:href="@{/ticket/update/{ticketId}(ticketId = ${ticket.id})}">
                                                            <button type="button" class="btn custom_update_button p-1">
                                                                <i class="fa-solid fa-pen-to-square update-rotate-on-hover"></i>
                                                            </button>
                                                        </a>
                                                        <a href="#" class="delete-row">
                                                            <button type="button" id="delete-row"
                                                                    class="btn custom_delete_button p-1"
                                                                    th:data-ticket-pnr="${ticket.pnrNo}"
                                                                    th:data-ticketId="${ticket.id}">
                                                                <i class="fa-solid fa-trash-can rotate-on-hover"></i>
                                                            </button>
                                                        </a>
                                                        <a href="#" class="download-ticket">
                                                            <button type="button" id="download-ticket"
                                                                    class="btn custom_download_button p-1"
                                                                    th:data-customer="${ticket.pnrNo}"
                                                                    th:data-customerId="${ticket.id}">
                                                                <i class="fa-solid fa-download download-rotate-on-hover"></i>
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>


                                        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
                                             aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content p-2">
                                                    <div class=" delete_confirmation_popup justify-content-center">

                                                        <div class="d-flex flex-column align-items-center">
                                                            <img th:src="@{/images/delete_worning.png}" class="mt-4"/>
                                                            <h5 class="modal-title mt-3 pb-2"
                                                                id="confirmationModalLabel">Confirm Deletion</h5>
                                                        </div>
                                                        <!-- No close button here -->
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Dynamic content to display username -->
                                                        <p id="confirmationTicketPnr"></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                onclick="closeConfirmationModal()">Cancel
                                                        </button>

                                                        <button type="button" class="btn btn-danger" id="confirmDelete">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="delete_toast_up_layer" th:if="${ticketIsDeleted} == true">
                                            <div id="delete_toast_container"
                                                 class="position-fixed top-0 start-50 translate-middle-x mt-3"
                                                 data-autohide="true">
                                                <div id="deleteSuccessToast" class="toast" role="alert"
                                                     aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header delete_toast_header">
                                                        <strong class="me-auto">Success</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="toast-body delete_toast_body" th:inline="text">
                                                        Ticket <strong style="color: red"
                                                                       th:text="${deletedTicketName}"></strong>
                                                        is successfully deleted!
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="delete_toast_up_layer_false" th:if="${ticketIsDeleted} == false">
                                            <div id="delete_toast_container_false"
                                                 class="position-fixed top-0 start-50 translate-middle-x mt-3"
                                                 data-autohide="true">
                                                <div id="deleteUnSuccessToast" class="toast" role="alert"
                                                     aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header delete_toast_header">
                                                        <strong class="me-auto">Not Success</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="toast-body delete_toast_body" th:inline="text">
                                                        <strong>This ticket can not be deleted!</strong><br>
                                                        <span style="color: red" th:text="${deleteMessage}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="update_toast_up_layer" th:if="${isTicketUpdated} == true">
                                            <div id="update_toast_container"
                                                 class="position-fixed top-0 start-50 translate-middle-x mt-3"
                                                 data-autohide="true">
                                                <div id="updateSuccessToast" class="toast" role="alert"
                                                     aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header update_toast_header">
                                                        <strong class="me-auto">Success</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                                aria-label="Close"></button>
                                                    </div>

                                                    <div class="toast-body update_toast_body" th:inline="text">
                                                        Ticket <strong style="color: #fa9803"
                                                                       th:text="${updatedTicket.pnrNo}"></strong>
                                                        successfully updated!
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="customer_update_toast_up_layer" th:if="${customerIsUpdated} == true">
                                            <div id="customer_update_toast_container"
                                                 class="position-fixed top-0 start-50 translate-middle-x mt-3"
                                                 data-autohide="true">
                                                <div id="customer_updateSuccessToast" class="toast" role="alert"
                                                     aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header update_toast_header">
                                                        <strong class="me-auto">Success</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                                aria-label="Close"></button>
                                                    </div>

                                                    <div class="toast-body update_toast_body" th:inline="text">
                                                        Customer <strong style="color: #fa9803"
                                                                         th:text="${updatedCustomerName}"></strong>
                                                        successfully updated!
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="card_update_toast_up_layer" th:if="${isCardUpdated} == true">
                                            <div id="card_update_toast_container"
                                                 class="position-fixed top-0 start-50 translate-middle-x mt-3"
                                                 data-autohide="true">
                                                <div id="cardUpdateSuccessToast" class="toast" role="alert"
                                                     aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header update_toast_header">
                                                        <strong class="me-auto">Success</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="toast-body update_toast_body" th:inline="text">
                                                        Card <strong style="color: #fa9803"
                                                                     th:text="${updatedCardName}"></strong> successfully
                                                        updated!
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/javascript :: js}"></div>
<script th:src="@{/assets/libs/js/ticket/delete_modal_confirmation.js}"></script>
<script th:src="@{/assets/libs/js/show_create_delete_update_toast.js}"></script>
</body>
</html>